.comment__image {
    max-width: 97px;
    border-radius: 50%;
    align-self: center;
}

@media screen and (max-width : 768px) {
    .comment__image {
        order: 1;
    }
}
@media screen and (max-width : 375px) {
    .comment__image {
        order: 1;
    }
}
@media screen and (max-width : 320px) {
    .comment__image {
        order: 1;
    }
}