.content-title {
    margin: 0 auto 0;
    max-width: 800px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    
}

@media screen and (max-width : 768px) {
    .content-title {
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width : 375px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;
    }
}
