.barentsburg__link {
    max-width: 282px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #ffffff;
    margin: 12px 0 0;
}
