.additional__item-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
    max-width: 248px;
    margin: 0 18px 0;

}