@import url(./__link/barentsburg__link.css);
@import url(./__url-heading/barentsburg__url-heading.css);

.barentsburg__weblink {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 120px;
}