.comment__author {
    max-width: 382px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin: 24px auto 0;
}

@media screen and (max-width : 768px) {
    .comment__author {
        order: 2;
    }
}
@media screen and (max-width : 375px) {
    .comment__author {
        order: 2;
    }
}
@media screen and (max-width : 320px) {
    .comment__author {
        order: 2;
    }
}