@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);

.comment {
    display: flex;
    flex-direction: column;
    max-width: 382px;
    margin: 0 auto;
}

@media screen and (max-width : 1024px) {
    .comment {
        max-width: 296px;
    }
}
@media screen and (max-width : 768px) {
    .comment {
        max-width: 382px; 
    }
}
@media screen and (max-width : 375px) {
    .comment {
        max-width: 343px; 
    }
}
@media screen and (max-width : 320px) {
    .comment {
        max-width: 288px; 
    }
}