@import url('./places__url-heading/places__url-heading.css');
@import url('./places__url/places__url.css');

.places__website {
    display: flex;
    flex-direction: column;
    margin: 0;
    grid-area: url;
    align-self: flex-end;
}
@media screen and (max-width : 500px) {
    .places__website {
        display: none;
    }
}
@media screen and (max-width : 375px) {
    .places__website {
        display: none;
    }
}
@media screen and (max-width : 320px) {
    .places__website {
        display: none;
    }
}