@import url(./emblem__title_text/emblem__title_text.css);

.emblem__title {
    max-width: 443px;
    width: 100%;
    margin: 0 741px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
}
