.cover__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    margin: 0 auto 0;
    max-width: 1094.27px;
    text-align: center;
    padding-top: 255px;
}

@media screen and (max-width : 1024px) {
    .cover__title {
        padding-top: 192px;
        max-width: 500px;
    }
}

@media screen and (max-width : 768px) {
    .cover__title {
        padding-top: 165px;
    }
}
@media screen and (max-width : 700px) {
    .cover__title {
        max-width: 343px;
        padding-top: 85px;
        font-size: 50px;
        line-height: 52px;
        margin: 0 auto;
    }
}
@media screen and (max-width : 375px) {
    .cover__title {
        max-width: 343px;
        padding-top: 85px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }
}
@media screen and (max-width : 320px) {
    .cover__title {
        padding-top: 45px;
        max-width: 288px;
        margin: 0 auto;
    }
}
